<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sigto/assets/css/login.css">
    <title>Editar Usuario</title>
</head>
<body>
    <div>
        <form id="editForm">
            <h2>Editar Usuario</h2>
            <label for="email">Correo Electrónico (No se puede cambiar):</label>
            <input type="text" id="email" name="email" readonly>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="lastname" required>
            <label for="ci">CI:</label>
            <input type="text" id="ci" name="ci" pattern="^\d{8}$" maxlength="8" required>
            <label for="phone">Teléfono:</label>
            <input type="text" id="phone" name="phone" required>
            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address" required>
            <button type="submit">Guardar Cambios</button>
        </form>
        <a href="mainadmin.html">Volver</a>
    </div>

    <script src="/sigto/assets/js/edit.js"></script>
</body>
</html>
