.panel-gestion {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-btn, .delete-btn, .view-logins-btn {
    background-color: #0267FF;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px; /* Añadir espacio entre los botones */
    display: inline-block;
}

.edit-btn:hover, .view-logins-btn:hover {
    background-color: #024C9F;
}

.delete-btn {
    background-color: #FF0026;
}

.delete-btn:hover {
    background-color: #D4001E;
}

#editar, #eliminar, .view-logins-btn {
    text-decoration: none;
    background-color: #0267FF;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    font-weight: bold;
    display: inline-block;
    width: auto; /* Ajusta automáticamente el ancho según el contenido */
    margin-right: 10px;
    text-align: center;
}

#eliminar {
    background-color: #FF0026;
}

#logout {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #0267FF;
    border: 3px solid #1900ff;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

.view-logins-btn {
    background-color: #0267FF;
    border-radius: 1em;
    padding: 0.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: auto; /* Ajustar el tamaño automáticamente */
    margin-right: 10px;
    text-align: center;
}
