/* Estilo del cuerpo y fondo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/ocean\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    text-align: center;
    background-color: #0267FF;
    max-width: 300px;
    margin: 0 auto;
    padding: 4em;
    border: 3px solid #1900ff;
    border-radius: 1em;
    color: white;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    width: 94%;
    padding: 0.5em;
    margin-top: 0.5em;
}

/* Contenedor del campo de contraseña */
.input-group {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    margin-top: 0.5em;
}

/* Estilo del botón de mostrar/ocultar contraseña */
.btn-show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    color: #0267FF;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.btn-show-password:focus,
.btn-show-password:hover {
    color: #0056b3;
}

button, input[type="submit"] {
    color: #0267FF;
    font-weight: bold;
    background-color: white;
    border: 3px solid #1900ff;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

.error-message {
    color: red;
    margin-top: 1em;
}

div {
    display: grid;
    justify-content: center;
    align-content: center;
}

.logologin {
    height: 400px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(5, 96, 170, 0.678));
}

.box {
    flex-direction: column;
    justify-content: center;
}

p {
    font-weight: bold;
    text-align: center;
}

#registro {
    text-decoration: none;
    text-align: center;
    color: #0267FF;
    font-weight: bold;
    background-color: white;
    border: 3px solid #1900ff;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

#descripcion, #codigos_unitarios {
    width: 300px;
    height: 150px;
}

select {
    text-decoration: none;
    text-align: center;
    color: #0267FF;
    font-weight: bold;
    background-color: white;
    border: 3px solid #1900ff;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

#imagen {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 0.5em 1em;
    border: 3px solid #1900ff;
    border-radius: 1em;
    background-color: white;
    color: #0267FF;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

#file-name {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    color: #ffffff;
    margin-top: 5px;
}

#volver {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #0267FF;
    border: 3px solid #1900ff;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

#volver:hover {
    background-color: white;
    color: #0267FF;
}

