
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/ocean\ background.jpg');
    background-size:cover; /* Asegura que la imagen cubra toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

main{
display: flex;
flex-direction: column;

}

.carrousel{
    max-width: 100%;
    max-height: 500px;
}

.mi-navbar{
    background-color: #0267FF;
    color: white;
    padding: 1px 15px;
}

.mi-navbar-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 20px; /* Añade espacio entre los elementos */
    flex-wrap:wrap
}

.mi-navbar-logo{
    max-width:2em ; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción de aspecto */
    text-decoration: none;
}
.mi-navbar-logo2{
    max-width:1.7em ; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción de aspecto */
    text-decoration: none;
}

.mi-navbar-items{
    justify-items: center;
    display: flex;
    gap: 15px;

    
}

.search-form {
        align-items: center;
        margin-left: 15px; /* Añade espacio desde el logo */
        border: none; /* Elimina cualquier borde del form */
        padding: 0; /* Remueve el padding del form si tiene */
        background: none; /* Asegúrate de que no tenga fondo */
        box-shadow: none; /* Remueve cualquier sombra si hay */
}

.searchbar {
    flex: 1; /* Permite que crezca dentro del espacio disponible */
    padding: 8px 15px; /* Aumenta el padding para hacerla más alta */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    max-width: 100%; /* Aumenta el ancho máximo de la barra */
    align-items: center;
    font-size: 16px; /* Aumenta el tamaño del texto */
}

.mi-navbar-items a{
    text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bold;
   text-decoration: none;
   color: white;
   padding: 8px 12px;
}

.mi-navbar-items a:hover {
    background-color: #5CE1E6;
    border-radius: 4px;
}

/*borrar el relleno luego de borrar el Lorem*/
.relleno{
    text-align: center;
    font-size: 48px;
    color:white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Añade una sombra negra */
}

footer{
    background-color: #0267FF;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-container{
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.footer-item p{
    font-weight: bold;
    font-size: large;
    }

.footer-item a{
    color: white;
    font-size: large;
}

.redes{
    max-width: 2.5em;
    height: auto;
}

.forms-container{
  margin: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Añade una sombra negra */

}
.forms-container h1{
    text-align: center;
}

#agregarForm, #mostrarForm, #actualizarForm, #limpiarForm, #resultado{
    color: white; 
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid  #0267FF;
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"],input[type="list"] , button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #0267FF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0267FF;
}

h2 {
    margin-top: 0;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ot{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Añade una sombra negra */
    margin: 10vw;
    
}

.ot img{
    height:600px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(5, 96, 170, 0.678)); /* Añade un sombreado negro alrededor del logo */

}

  /* Estilos para el carrusel */
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 300%; /* Cambia este valor según la cantidad de imágenes */
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: 30%; /* Mantiene la proporción de la imagen */
}

/* Botones de navegación */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
@media (width < 650px){
    .mi-navbar-items{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mi-navbar-logo{
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .mi-navbar-container{
        justify-content: center;
    }

    .mi-navbar-items a{
        width: 100%;
        text-align: center;
        padding: 1px;
    }

    footer{
        background-color: #0267FF;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .footer-container{
        padding: 1%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
    }
    
    .footer-redes{
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ot img{
        height:450px;
        width: auto;
        filter: drop-shadow(0 0 10px rgba(5, 96, 170, 0.678)); /* Añade un sombreado negro alrededor del logo */
    
    }

}